//Globals



//Header
.headerImg {
	margin: 0 auto;
	max-width: 60%;
	display: flex;
	flex-direction: column;
	align-content: center;
	height: 100vh;
	img {
		align-self: center;
		max-height: 100vh;
		margin-top: -2rem;
	}
	button {
		padding-bottom: 0;
		display: flex;
		border: none;
		align-content: center;
		background-color: transparent;
		align-self: center;
		max-width: 30%;
		h6 {
			margin: 0;
			font-size: 1.5rem;
			font-family: 'Nothing You Could Do', cursive;
			display: inline-block;
			align-self: center;
		}
		i {
			align-self: center;
			opacity: .75;
		}
	}
}
// Fixed Nav
#stickyNav {
}

#menuLogo {
	margin-top: 0;
	img {
		max-width: 75%;
	}
}
.menuInclude {
	padding-right: 0 !important;
}

.navContainer {
	display: flex;
	flex-direction: column;
	position: relative;
	height: 100vh;
	text-align: center !important;
}

.navEmail {
	margin-bottom: 5px;
	align-self: center;
	position: absolute;
	bottom: 0;
}
// Main container

.aboutContainer {
	max-width: 100%;
	display: flex;
	flex-direction: row;
	background-color: #F2EDEB;
	position: relative;
		img {
			max-width: 40%;
			position: absolute;
			bottom: 0;
		}
}
.aboutImg {
	width: 35%;
}
.aboutMe {
	width: 50%;
}
.mainContainer {
	padding: 0 !important;
	display: flex;
	flex-direction: column;
}


