<div class="headerInclude">
    <div ng-include="'partials/header.html'"></div>
</div>
<div class="row">
    <div class="menuInclude col s2" id="">
        <div ng-include="'partials/nav.html'"></div>
    </div>
    <div class="mainContainer col s10">

			<div class="aboutContainer">
					<div class="aboutImg">
						<img src="app/assets/about.png"/>
					</div>
					<div class="aboutMe">
						<h4>About Me</h4>
						<p>I am a full stack developer with an emphasis on Node.js and Angular.  I like to work with sass, pug templating, TDD, modular code, and I tend to self document heavily.  You will see below some of the technologies that I enjoy working with.</p>
						<div class="techDiv">
							<img src="app/assets/tech.png"/>
						</div>
					</div>
						<div class="enjoyList">
							<h4>Things I enjoy</h4>
							<ul>
								<li>Sports (I play in a wood bat baseball league and a weekly basketball league)</li>
								<li>Movies/Tv</li>
								<li>Technology</li>
								<li>Food</li>
								<li>Traveling</li>
								<li>Video Games</li>
								<li>Power Lifting</li>
								<li>Food</li>
								<li>Beer</li>
								<li>Learning thing on Youtube</li>
								<li>and Food</li>
								<li>.....and Beer</li>
							</ul>
					</div>
			</div>
			<div class="articlesPhotos">
				<div class="articles">
					<h3>Articles</h3>
					<p>I like to write when I get the chance.  You will find below some of the articles I have written.  I tend to write about things I am passionate about like programming, weightlifting, food, sports, and dieting. </p>
					<ul>
						<li><a target="_blank" href="https://gist.github.com/iamtylerd/44b48aab29304eff34c6e2027e8e6d83">Simple Firebase Security</a>
						<li><a target="_blank" href="http://dungeonsanddeadlifts.com/2015/11/05/a-beginners-guide-to-training/">A Beginner's Guide To Training</a>
						<li><a target="_blank" href="http://dungeonsanddeadlifts.com/2015/10/22/lets-eat/">Lets Eat</a>
					</ul>
				</div>
				<div class="photos">
					<h3>Photos</h3>
					<p>Before I started programming I was a photographer.  I love to create and take photos whenver I get the chance.  I have shot weddings, events, and I have worked for an agency.  I also enjoy videography.  I have 10 years of experience with photography, Adobe Photoshop, Sony Vegas, and Adobe Premiere. </p>
					<ul>
						<li><a target="_blank" href="https://www.behance.net/tylerdaniel">Photos on Behance</a>
						<li><a target="_blank" href="https://www.youtube.com/user/tad2q/videos">Videos on Youtube</a>
					</ul>
				</div>
			</div>
			<div class="portfolioContainer">
				<div class="portGrid">
					<h3>Portfolio Grid</h3>
					<p>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb. </p>

					<p>Normally, both your asses would be dead as fucking fried chicken, but you happen to pull this shit while I'm in a transitional period so I don't wanna kill you, I wanna help you. But I can't give you this case, it don't belong to me. Besides, I've already been through too much shit this morning over this case to hand it over to your dumb ass. </p>
				</div>
				<div class="portText">
					<h3>Portfolio Text</h3>
					<p>My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand? </p>

					<p>Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.  </p>
				</div>
			</div>

		<p>You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out. Now, I don't know exactly when we turned on each other, but I know that seven of us survived the slide... and only five made it out. Now we took an oath, that I'm breaking now. We said we'd say it was the snow that killed the other two, but it wasn't. Nature is lethal but it doesn't hold a candle to man. </p>
		<!-- end slipsum code -->

    </div>
</div>
