<div ng-controller="NavCtrl" id="stickyNav">
		<div class='navContainer'>
			<div id="menuLogo">
				<img src="app/assets/logoSmall.png" />
			</div>
			<div id="navList">
				<ul>
					<li ng-click="scrollTo('about')">About</li>
					<li ng-click="scrollTo('articles')">Hobbies</li>
					<li ng-click="scrollTo('portfolio')">Portfolio</li>
					<li ng-click="scrollTo('contact')">Contact</li>
				</ul>
			</div>
			<a class="resume" target="_self" href="/app/assets/TylerDanielTechResume2016.pdf" download="TylerDanielTechResume2016.pdf">Download Resume</a>
			<a class="resume" target="_blank" href="http://blog.tylerdaniel.com">Blog</a>
			<div class="navEmail">
				<div class="icons">
					<a href="https://www.linkedin.com/in/tyler-daniel-67991698"><img src="/app/assets/linkedin-logo.png"></a>
					<a href="https://github.com/iamtylerd"><img src="/app/assets/circle.png"></a>
				</div>
			<span class="email">tyler@tylerdaniel.com</span>
			</div>
		</div>
</div>
