<div ng-controller="NavCtrl" id="stickyNav">
		<div class='navContainer'>
			<div id="menuLogo">
				<img src="app/assets/logoSmall.png" />
			</div>
			<div id="navList">
				<ul>
					<li ng-click="scrollTo('about')">About</li>
					<li ng-click="scrollTo('articles')">Articles/Photography</li>
					<li ng-click="scrollTo('portfolio')">Portfolio</li>
					<li ng-click="scrollTo('contact')">Contact</li>
				</ul>
			</div>
			<span class="navEmail">tyler@tylerdaniel.com</span>
		</div>
</div>

<!-- <li ng-click="gotoAnchor(x)" ng-repeat="x in [About, Articles/Photography, Portfolio, Contact]">{{x}}</li> -->
